#canvas-area {
  margin-left: 6vw;
  height: 100%
}

#canvas-holder {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 66vh;
}

#canvas-header {
  background-color: var(--quaternary-color);
  width: 94vw;
}

.center-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 7vw;
}

.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20vw;
}

#uploadTemplate {
  display: none;
}

#canvas-footer {
  height: 20vh;
  width: 94vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  background-color: var(--primary-color);
}

#footer-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 27.5%;
  border-bottom: solid 1px lightgrey;
}

#deleteItem {
  margin-left: 2vw;
}

#footer-right-nav {
  width: 30vw;
}

#addPhoto {
  display: none;
}

#side-content {
  position: absolute;
  width: 18vw;
  height: 66vh;
  border: solid 1px darkgrey;
}

.tab-pane > label, .tab-pane > #button-wrapper {
  width: 100%;
  text-align: center;
}

.tab-pane > label {
  margin-top: 1vh;
}

#layouts-list {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 0;
}

.layouts-item {
  list-style: none;
}

#shapes-list {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 0;
}

#shapes-list .ui-selected {
  border-radius: 2px;
  background-color: white;
}

.shapes-item {
  list-style: none;
}

.shapes-item > img {
  height: 6vh;
  width: 3.25vw;
}

#selected-color {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 2px;
  border: solid 1px black;
}
